*, *:after { box-sizing: border-box; }

.lockers { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; }

.locker { display: flex; flex: 0; padding: 1.5px; position: relative; text-align: center; }

.locker:nth-child(3) { margin-right:3%; } 

.locker:nth-last-child(3) { margin-left: 3%; } 

.locker input[type=checkbox] { width: 60px; height: 50px; position: absolute; opacity: 0; }

.locker input[type=checkbox]:checked + label { width: 60px; height: 50px; background: #bada55; -webkit-animation-name: rubberBand; 
																							 animation-name: rubberBand; animation-duration: 300ms; animation-fill-mode: both; }

.locker input[type=checkbox]:disabled + label { width: 60px; height: 50px; background: #dddddd; overflow: hidden; }

.locker input[type=checkbox]:disabled + label:after { position: absolute; top: 4px; left: 50%; transform: translate(-50%, 0%); }

.locker input[type=checkbox]:disabled + label:hover { cursor: not-allowed; }

.locker label { display: block; position: relative; width: 60px; height: 50px; text-align: center; font-size: 18px; font-weight: bold; line-height: 1.5rem;
  							padding: 4px ; background: #39adffed; box-shadow: 0 0 0px 2px #0057c2ed; border-radius: 5px; animation-duration: 300ms; animation-fill-mode: both; }

.locker label:hover { cursor: pointer; box-shadow: 0 0 0px 2px #ff2142; }
 