<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.youngtvjobs.ycc.rental.rentalMapper">

	  <!-- 장소 대관 start -->	  
	  <!-- selectBox에서 장소 고를때 장소를 불러오는 sql문 -->
	  <select id="selectRentalPlace" resultType="RentalDto">
	  	select * from classroom
	  </select>
	  	  
	  <!-- 해당 장소, 시간, 날짜에 예약이 있는지 확인하는 sql문 -->
	  <select id="tlscjfghks" parameterType="RentalDto" resultType="RentalDto">
		  select prental_id, prental_de, prtime_schedule, user_id, c.croom_id, c.croom_name
		  from prental_info INNER JOIN classroom c
		  on prental_info.croom_id = c.croom_id
		  where c.croom_id = #{croom_id} and prental_de = #{prental_de}::date
	  </select>
	  
	  <!-- 예약하기 버튼 클릭 시 해당 정보를 기반으로 예약하는 sql문 -->
	  <insert id="insertRentalinfo" parameterType="RentalDto">
	  	INSERT INTO prental_info
		prental_de, prtime_schedule, user_id, croom_id
		VALUES(#{prental_de}::date, #{prtime_schedule}, #{user_id}, #{croom_id})
	  </insert>
	  
	  <!-- 독서실 start -->
	  <!-- 각 좌석마다 예약현황을 확인하기 위한 select -->
	  <select id="selectSchedule" resultType="RentalDto">
	  	SELECT * from studyroom order by sroom_seat_id
	  </select>
	  
	  <!-- 해당 좌석에서 예약을 진행할때 사용하는 insert -->
	  <insert id="studyroomRental" parameterType="RentalDto">
	  	INSERT INTO public.sroom_rental_info
		(sroom_rental_stime, sroom_rental_etime, user_id, sroom_seat_id)
		VALUES(now(), #{sroom_rental_etime}, #{user_id}, #{sroom_seat_id})
	  </insert>
	  
	  <!-- 예약 시간이 종료되었을 때 진행되는 delete -->
	  <delete id="studyroomReset" parameterType="RentalDto">
	  	delete from sroom_rental_info 
		where sroom_rental_etime <![CDATA[ < ]]> 'now()'
	  </delete>

      <!-- 예약 insert시 n을 y로 update하는 sql -->		
	  <update id="studyroomRentalupdate" parameterType="RentalDto">
	  	UPDATE public.studyroom
		SET sroom_rental_yn='y'
		WHERE sroom_seat_id=#{sroom_seat_id}
	  </update>
	  
	  <!-- 예약시간이 만료되어 delete시 y을 n으로 update하는 sql -->		
	  <update id="studyroomDeleteupdate" parameterType="RentalDto">
	  	UPDATE public.studyroom
		SET sroom_rental_yn='n'
		WHERE sroom_seat_id=#{sroom_seat_id}
	  </update>
	  
  </mapper>